* {
    font-family: 'Balsamiq Sans', cursive;
    box-sizing: border-box;
}

body {
    background-image: url(static/emperor-penguins-2821897_1920.jpg);
}

.center {
    display: block;
    margin: 0 auto;
}

.poppy-image {
    width: 10%;
    min-width: 150px;
}

.characters-image {
    width: 30%;
    min-width: 350px;
}

.book-content {
    background-color: white;
    opacity: 0.8;
    padding: 1em;
    border-radius: 10px;
    margin: 0 3vw;
    text-align: center;
    -webkit-box-shadow: 10px 10px 4px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 4px -4px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 4px -4px rgba(0,0,0,0.75);
}