* {
    font-family: 'Balsamiq Sans', cursive;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(static/emperor-penguins-2821897_1920.jpg);
}

a {
    color: white;
    text-decoration: none;
}


a:visited {
    color: white;
}

h1.chapter-header {
    text-align: center;
    margin-top: 2em;
}
.chapter-line {
    width: 50%;
    border: 1.5px solid black;
    margin-bottom: 1em;
}
.center {
    display: block;
    margin: 0 auto;
}

.poppy-image {
    margin-top: 1em;
    width: 15%;
    display: none;

}

.poppy-image > img {
    width: 100%;
    min-width: 50px;
    margin: 0 auto;
}
.characters-image {
    width: 48%;
    min-width: 300px;
}

.top-nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0E85BA;
    padding: 1em;
}

.top-nav-header {
    margin: 0 0 0 44%;
}
.top-nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    font-size: 1.5rem;
}

@media screen and (max-width: 1160px) {
    .top-nav-header {
        margin: 0 0 0 41%;
    }
}
@media screen and (max-width: 780px) {
    .top-nav {
        justify-content: space-between;
    }
    .top-nav ul {
        background-color: #0E85BA;
        display: none;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        left: 1px;
        top: 33px;
        width: 100%;
        z-index: 1;
    }
    .top-nav-header {
        margin: 0 0 0 40%;
    }

}


.top-nav-hamburger {
    display: none;
}

@media screen and (max-width: 780px) {
    .top-nav-hamburger {
        display: block;
    }
}

.top-nav ul > li { 
    margin-right: 1em;
    color: white;
}
.top-nav > ul > li::after
{
  content: "";
  display: block;
  width: 0%;
  padding-top: 5px;
  border-bottom: 3px solid #63A6E1;
  transition: all 0.25s ease-in-out;
}

.top-nav > ul > li.book-nav-selected::after {
    width: 100%;
}
.top-nav > ul > li:not(.book-nav-selected):hover::after {
    width: 100%;
}

.top-nav ul > li:not(.book-nav-selected) {
    cursor: pointer;
}


.book-content {
    background-color: #0E85BA;
    color: white;
    opacity: 0.8;
    padding: 1em;
    border-radius: 10px;
    margin: 2em 3vw;
    text-align: center;
    -webkit-box-shadow: 10px 10px 4px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 4px -4px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 4px -4px rgba(0,0,0,0.75);
}

/* This is the style for showing which page (each page is a div (i.e. <div id="page#">...</div>) ) */
.book-content > div {
    display: none;
}

.book-content > div.page-selected {
    display: block;
}

.nav-arrows {
    margin-top: 2em;
    justify-content: center;
    align-items: center;
}

.nav-arrows > * {
    margin-right: 1em;
}

#nav-back, #nav-forward {
    cursor: pointer;
}


